*.o
*.lo
*.a
*.la
.version~
Makefile
README-release
autom4te.cache
config-h.in~
config-stamp
config.h
config.log
config.status
.dirstamp
.deps
.libs
libtool
libtoolize
stamp-h1
tests/atconfig
tests/testsuite.dir/
tests/testsuite.log
tests-failed
/GNUmakefile
/maint.mk

###

.serial
.version
INSTALL
Makefile.in
build-aux/compile
build-aux/config.guess
build-aux/config.sub
build-aux/depcomp
build-aux/install-sh
build-aux/ltmain.sh
build-aux/mdate-sh
build-aux/missing
build-aux/texinfo.tex
config-h.in
configure
libltdl/Makefile.in
libltdl/configure

aclocal.m4
build-stamp
libltdl/aclocal.m4

doc/libtool.1
doc/libtool.html
doc/libtool.info
doc/libtool.info-1
doc/libtool.info-2
doc/libtoolize.1

m4/ltversion.m4
